   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background-color: #000;
      color: white;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .house {
      width: 100%;
      max-width: 400px;
      padding: 20px;
    }

    .container {
      text-align: center;
      border-radius: 8px;
    }

    .header h1 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .subtext {
      color: #aaa;
      font-size: 14px;
      margin: 15px 0 20px;
    }

    .subtext strong {
      color: white;
    }

    .input-code {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 40px 0;
    }

    .digit-box input {
      border: none;
      background-color: transparent;
      color: aliceblue;
      border-bottom: 2px solid white;
      outline: none;
      width: 40px;
      height: 40px;
      font-size: 1.5em;
      text-align: center;
    }

    .resend {
      color: lime;
      font-size: 0.9em;
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
    }

    button {
      background-color: #25d366;
      color: black;
      padding: 12px;
      width: 100%;
      font-size: 16px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #1fc754;
    }

    .error {
      color: red;
      margin-bottom: 15px;
    }