*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.house {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.house .container {
  text-align: center;
  width: 400px;
  height: 100vh;
}
.house .container p a{
    color: blue;
}

 .house .container .logo-circle {
  margin-bottom: 35px;
}

.house .container .logo-circle img {
  height: 250px;
  margin-top: 35px;
  object-fit: contain;
  border-radius: 50%;
}

.house .container h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.policy-text {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.policy-text a {
  color: #00bfa5;
  text-decoration: none;
}

.language {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #444;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  color: green;
  font-size: 14px;
}

.globe {
  margin-left: 10px;
}

.agree {
  background-color: #25d366;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  width: 80%;
}
.agree a{
    text-decoration: none;
    color: #000;
}

